#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @nxpkg/engineering-leadership

/components/blobserve @nxpkg/team-experience @nxpkg/team-enterprise
/components/common-go @nxpkg/engineering-staff-engineers @nxpkg/team-enterprise
/components/components/scrubber @nxpkg/engineering-staff-engineers @nxpkg/team-enterprise
/components/content-service-api @nxpkg/team-engine @nxpkg/team-enterprise
/components/content-service @nxpkg/team-engine @nxpkg/team-enterprise
/components/dashboard @nxpkg/team-experience @nxpkg/team-enterprise
/components/docker-up @nxpkg/team-engine @nxpkg/team-enterprise
/components/ee/agent-smith @nxpkg/team-engine @nxpkg/team-enterprise
/components/nxpod-cli @nxpkg/team-experience @nxpkg/team-enterprise
/components/nxpod-db @nxpkg/team-experience @nxpkg/team-enterprise
/components/nxpod-protocol @nxpkg/team-experience @nxpkg/team-enterprise
/components/nxpod-protocol/java @nxpkg/team-experience @nxpkg/team-enterprise
/components/nxpod-protocol/src/typings/globals.ts @nxpkg/team-experience @nxpkg/team-enterprise
/components/ide @nxpkg/team-experience @nxpkg/team-enterprise
/components/ide-metrics @nxpkg/team-experience @nxpkg/team-enterprise
/components/ide-metrics-api @nxpkg/team-experience @nxpkg/team-enterprise
/components/ide-service @nxpkg/team-experience @nxpkg/team-enterprise
/components/ide-service-api @nxpkg/team-experience @nxpkg/team-enterprise
/components/ide-proxy @nxpkg/team-experience @nxpkg/team-enterprise
/components/image-builder-api @nxpkg/team-engine @nxpkg/team-enterprise
/components/image-builder-bob @nxpkg/team-engine @nxpkg/team-enterprise
/components/image-builder-mk3 @nxpkg/team-engine @nxpkg/team-enterprise
/install @nxpkg/team-engine @nxpkg/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/blobserve @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/components-ide @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/components-webapp @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/components-workspace @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/content-service @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/dashboard @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/ide-metrics @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/ide-service @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/ide-proxy @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/openvsx-proxy @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/proxy @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/registry-facade @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/spicedb @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/public-api-server @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/server @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/server/ide @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/usage @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/usage-api @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/workspace @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/workspace/ide @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/ws-daemon @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @nxpkg/team-experience @nxpkg/team-enterprise
/install/installer/pkg/components/ws-proxy @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/config/versions @nxpkg/team-experience @nxpkg/team-enterprise
/components/local-app-api @nxpkg/team-experience @nxpkg/team-enterprise
/components/local-app @nxpkg/team-experience @nxpkg/team-enterprise
/components/openvsx-proxy @nxpkg/team-experience @nxpkg/team-enterprise
/components/proxy @nxpkg/team-experience @nxpkg/team-enterprise
/components/public-api @nxpkg/team-experience @nxpkg/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/nxpod/experimental @nxpkg/team-experience @nxpkg/team-enterprise
/components/public-api-server @nxpkg/team-experience @nxpkg/team-enterprise
/components/registry-facade-api @nxpkg/team-engine @nxpkg/team-enterprise
/components/registry-facade @nxpkg/team-engine @nxpkg/team-enterprise
/components/server @nxpkg/team-experience @nxpkg/team-enterprise
/components/server/src/ide-service.* @nxpkg/team-experience @nxpkg/team-enterprise
/components/service-waiter @nxpkg/team-experience @nxpkg/team-enterprise
/components/supervisor-api/*.proto @nxpkg/team-experience @nxpkg/team-enterprise
/components/supervisor @nxpkg/team-experience @nxpkg/team-enterprise
/components/usage @nxpkg/team-experience @nxpkg/team-enterprise
/components/usage-api @nxpkg/team-experience @nxpkg/team-enterprise
/components/workspacekit @nxpkg/team-engine @nxpkg/team-enterprise
/components/ws-daemon-api @nxpkg/team-engine @nxpkg/team-enterprise
/components/ws-daemon @nxpkg/team-engine @nxpkg/team-enterprise
/components/ws-manager-api @nxpkg/team-engine @nxpkg/team-enterprise
/components/ws-manager-bridge-api @nxpkg/team-experience @nxpkg/team-enterprise
/components/ws-manager-bridge @nxpkg/team-experience @nxpkg/team-enterprise
/components/ws-manager-mk2 @nxpkg/team-engine @nxpkg/team-enterprise
/components/ws-proxy @nxpkg/team-engine @nxpkg/team-enterprise
/components/node-labeler @nxpkg/team-engine @nxpkg/team-enterprise
/install/installer/pkg/components/node-labeler @nxpkg/team-engine @nxpkg/team-enterprise
/dev/gpctl @nxpkg/team-engine @nxpkg/team-enterprise
/dev/gpctl/api/ @nxpkg/team-experience @nxpkg/team-enterprise
/dev/loadgen @nxpkg/team-engine @nxpkg/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @nxpkg/team-experience @nxpkg/team-enterprise
/operations/observability/mixins/meta @nxpkg/team-experience @nxpkg/team-enterprise
/operations/observability/mixins/workspace @nxpkg/team-engine @nxpkg/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @nxpkg/team-experience @nxpkg/team-enterprise
.github/workflows/jetbrains-*.yml @nxpkg/team-experience @nxpkg/team-enterprise
.github/workflows/code-nightly.yml @nxpkg/team-experience @nxpkg/team-enterprise
.github/workflows/workspace-*.yml @nxpkg/team-engine @nxpkg/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @nxpkg/team-engine @nxpkg/team-enterprise
/test/pkg/integration @nxpkg/team-experience @nxpkg/team-engine @nxpkg/team-enterprise
/test/pkg/report @nxpkg/team-engine @nxpkg/team-enterprise
/test/tests/workspace @nxpkg/team-engine @nxpkg/team-enterprise
/test/tests/smoke-test @nxpkg/team-experience @nxpkg/team-engine @nxpkg/team-enterprise
/test/tests/ide @nxpkg/team-experience @nxpkg/team-enterprise
/test/tests/components/content-service @nxpkg/team-engine @nxpkg/team-enterprise
/test/tests/components/database @nxpkg/team-experience @nxpkg/team-enterprise
/test/tests/components/image-builder @nxpkg/team-engine @nxpkg/team-enterprise
/test/tests/components/server @nxpkg/team-experience @nxpkg/team-enterprise
/test/tests/components/ws-daemon @nxpkg/team-engine @nxpkg/team-enterprise
